APP_HOST=api-staging.example.com
TRAEFIK_CERT_RESOLVER=le-staging
ASPNETCORE_URLS=http://+:8080
ConnectionStrings__Default=Host=postgres;Port=5432;Database=candoitall;Username=candoitall;Password=REPLACE_ME
IPFS__ApiUrl=http://ipfs:5001
POSTGRES_DB=candoitall
POSTGRES_USER=candoitall
POSTGRES_PASSWORD=REPLACE_ME
